<div class="order-summary jumbotron">
  <h4>Your cart is empty. Would you like to add some items to your cart?</h4>
</div>
<div>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
</div>
